.venv


# don't track generated static html files
.build

# don't track .env files

.env*

__pycache__


# don't track sqlite db
.db
*.sqlite3

# don't track media
media
staticfiles

apps/**/static/**/dist/*

# don't track local working data
data
